<section class="wrapper-cards">
  <article class="card purple" role="region" aria-label="Total characters">
    <section>
      <h2 class="character-count">{{ displayCharacterCount }}</h2>
      <p>Total Characters</p>
    </section>
  </article>
  <article class="card yellow" role="region" aria-label="Word count">
    <section>
      <h2 class="word-count">{{ displayWordCount }}</h2>
      <p>Word Count</p>
    </section>
  </article>
  <article class="card orange" role="region" aria-label="Sentence count">
    <section>
      <h2 class="sentence-count">{{ displaySentenceCount }}</h2>
      <p>Sentence Count</p>
    </section>
  </article>
</section>